@import url("https://googleapis.com/css?family=Poppins");
*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
    margin:0;
}
.navBar{
    background:hsla(0, 0%, 100%, 0.724);
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    backdrop-filter:blur(20px);
    position:sticky;
    top:0;
    z-index:1;
}
#menu-toggle{
    display:none;
}
.links{
    border:1px solid grey;
    padding:30px;
    border-radius:10px;
    display:flex;
    gap:30px;
}
.links a{
    text-decoration: none;
    color:blue;
    position:relative;
   
}
.links a::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    width:0%;
    height:2px;
    background:blue;
    transition: width 0.4s ease-in-out;
}
.links a:hover::after{
    width:100%;
}
body{
    font-family:"Poppins",sans-serif;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    font-size:larger;
}
.Page{
position:relative;
display: flex;
flex-direction: column;

background:linear-gradient(to bottom right,rgb(201, 226, 248),white);

}
#moving-strip{
    width:100%;
    overflow:hidden;
    margin-top:50px;
    background:blue;
    padding:20px;
    margin:0;
    padding:15px 0;
    

}

#menu{
    display:none;
}
.strips{
    gap:90px;
    display:flex;
    width:max-content;
    border-right:10px;
    animation:move-strip 15s linear infinite;
}
.strips ul{
    color:white;
    display:flex;
    list-style:circle;
    gap:90px;
    font-size:1.2em;
    overflow:hidden;
    white-space: nowrap;
}

@keyframes move-strip{
    0%{
       transform: translateX(0);
    }
    100%{
        transform:translateX(-50%);
    }
}
#About{
    margin-top:150px;
    display:flex;
    justify-content:space-evenly;    
}
#About p{
    padding:20px;
}
.ProfileImg img{
    border-radius:50px 50px 0 0;
    border:19px solid rgba(255, 255, 255, 0.474);
    backdrop-filter: blur(20px);
}
.Profile{
    width:700px;
    align-items:left;
    display:flex;
    flex-direction:column;

}

.freelance{
 display:flex;
 align-items:center;
 }
.freelance img{
    border:none;
}
.Profile h1{
    font-size:4em;
    margin-left:10px;
}
.Profile span{
    color:blue;
}
.Profile p{
    padding-top:70px;
    font-size:2em;
}

.socials-container{
    display:flex;
    gap:30px;
    
}
.socials-container img{
    transition:transform 0.3s ease-in-out;
}
.socials-container:hover img{
    transform:scale(1.4);
}
.socials{
    display:flex;
    padding-left:20px;
    width:100%;
    
}
#MyInfo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:100px;
}
#MyInfo h2{
    margin-bottom:70px;
}
.InfoCard{
     background: transparent;
     border:1px solid white;
     border-radius:10px;
    padding:20px;
    width:600px;
  transition: border-color 0.3s ease, transform 0.3s ease-in-out;
}
.InfoCard p{
    font-size:1.5em;
}
.InfoCard:hover{
    transform:translateY(-5px);
    border-color:aqua;
       box-shadow:0 0 20px 10px lightblue;
}
.Email{
    margin-top:40px;
    padding-bottom:10px;
    border:1px solid rgba(128, 128, 128, 0.49);
    backdrop-filter: blur(50px);
    padding:20px;
    background:rgba(255, 255, 255, 0.378);
    backdrop-filter:blur(50px);
    border-radius:5px;
    border:none;
}
.emailpng{
    display:flex;
    align-items:center;
    margin-bottom:10px;
    gap:20px;
}

.myemail p{
    color:grey;

}
.details{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.mylocation p{
    color:grey;
}
.location{
    border:1px solid grey;
    padding:20px;
      background:rgba(255, 255, 255, 0.378);
    backdrop-filter:blur(50px);
    border:none;
    border-radius:5px;
}
.locationpng{
    display:flex;
    align-items:center;
    margin-bottom:10px;
    gap:20px;
}
.edupng{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:10px;
}
.education{
    border:1px solid grey;
    padding:20px;
     background:rgba(255, 255, 255, 0.378);
    backdrop-filter:blur(50px);
    border:none;
    border-radius:5px;
}
.myedu p{
    color:grey;
}
.AcademicCard{
    font-size:x-large;
    border:1px solid lightblue;
    padding:20px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    background:lightskyblue;
    backdrop-filter:blur(50px);
    width:100%;
    transition:transform 0.3s ease-in-out;
}
.AcademicCard h1{
    font-family:monospace;
}
.AcademicCard:hover{
 border-color:blue;
 transform:translateY(-5px);
}
#Academic h1{
    margin-bottom:20px;
    color:rgb(0, 0, 255);
}
.AcademicCard h3{
    color:white;
}
.AcademicCard p{
    color:white;
}
.Info-Academia{
    margin-top:50px;
    display:flex;
    gap:70px;
}
.Timeline{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
}

.MoreAcademics button{
    display:flex;
    gap:20px;
    justify-content:center;
    padding:20px;
    width:100%;
    background:whitesmoke;
    color:blue;
    font-size:23px;
    border:none;
    transition:background-color 0.3s ease ;
}
.MoreAcademics button:hover{
    background-color:lightskyblue;
}
.lang img{
    width:50px;
    transition:transform 0.2s ease-in-out;
}
.stackWrapper{
    display:flex;
    gap:20px;
    font-size:small;
}
.lang:hover img{
    transform:translateY(-5px);
}
.projectStack{
    display:flex;
    gap:20px;
    padding:20px;
}
.tech{
    border:1px solid lightslategray;
    border-radius:10px;
    padding:2px 15px;
    background:lightcyan;
    
}
.stack{
    margin-top:20px;
}
.stack h2{
    color:blue;
    
}
#Projects{
    
    border:1px solid rgb(166, 210, 249);
    border-radius:100px;
    background:linear-gradient(to bottom right,rgba(173, 216, 230, 0.757),rgba(0, 255, 255, 0.557));
    font-size:1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:100px;
}
#Projects h2{
    padding:10px;
}
.ProjectCard{
    border:1px solid transparent;
    width:400px;
    height:auto;
    display:flex;
    flex-direction:column;
    background:rgba(255, 255, 255, 0.709);
    backdrop-filter:blur(50px);
    overflow:hidden;
}
.ProjectImg img{
    width:100%;
    height:100%;
    object-fit: contain;
    transition:transform 0.3s ease-in-out;
}

.ProjectCard:hover img{
    transform:scale(1.07);
}
.ProjectDescription{
    padding:10px;
}
.ProjectCard:hover button{
    color:blue;
}

.ProjectDescription button{
    display:flex;
    align-items:center;
    padding:10px 20px;
    gap:10px;
    font-size:15px;
    border-radius:10px;
    background:white;
    border-color:aqua;
 
}
.ProjectsContainer{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(3,auto);
    gap:20px;
    padding-bottom:40px;
}
#Gallery{
    text-align:center;
    margin-top:150px;
}
.gallery-container{
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:100px;
    overflow:hidden;
   
}
.gallery-strip{
    width:max-content;
    display:flex;
    gap:20px;
    margin-right:20px;
    white-space:nowrap;
    animation:move-gallery 20s linear infinite;
}
.galleryImg{
    width:350px;
}
.galleryImg img{
    width:100%;
    object-fit:fill;
}
@keyframes move-gallery{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-50%);
    }
}
footer{
    background:rgba(231, 227, 227, 0.661);
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    
}
@media(max-width:768px){
   
.Page{
    margin:0;
    padding:0;

}
.logo img{
    width:50px;
}
    .navBar{
        z-index:2;
    }
    #menu{
        display:block;
        backdrop-filter: blur(30px);
        position:sticky;
        top:75px;
        right:0;
        height:auto;
        z-index:1;
        transform:translateY(-200%);
        transition:transform 0.5s ease;
    
    }
    #menu.show{
        transform:translateY(0px);
    }
    #menu ul{
     background:rgba(255, 255, 255, 0.616);
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        list-style:none;
        gap:4%;
        padding:20px 0;
        
    }
    #menu a{
         text-decoration: none;
        color:blue;
    }
    #menu-toggle{
        display:block;

    }
    .links{
        display:none;
    }
    #moving-strip{
        display:none;
    }
    .freelance{
        display:flex;
        flex-direction:column;
        color:green;
    }
    .freelance img{
        width:10px;
    }
    .ProfileImg{
        display:flex;
        justify-content:left;
        align-items:center;
       
    }
  
    .ProfileImg img{
        width:100px;
        height:100px;
        border-radius:50px 50px 50px 50px;
    }
    .Profile{
        font-size:x-small;
        width:300px;
    }
    .Profile h1{
        font-size:3em;
    }
    .socials img{
        width:40px;
    }
    .freelance img{
        width:30px;
        height:30px;

    }
    #About{
         padding-left:20px;
        margin-top:40px;
        display:flex;
        flex-direction:column;
        gap:20px;
    }
    #MyInfo h1{
        font-size:large;
    }
    .Info-Academia{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .InfoCard{
        font-size:x-small;
        width:300px;
    }
    .stack img{
        width:20px;
    }
 .emailpng img{
    width:20px;
 }
 .locationpng img{
    width:20px;
 }
 .edupng img{
    width:20px;
 }
 .MoreAcademics button{
    padding:10px;
    font-size:small;
 }
 .MoreAcademics button img{
    width:10px;
 }
    .AcademicCard{
        font-size:medium;
        width:300px;
    }
    .ProjectCard{
        width:300px;
        font-size:small;
        height:380px;

    }
    .ProjectsContainer{
        display:flex;
        flex-direction:column;
    
    }
    #Projects{
        background:none;
        border:none;
        outline:none;
        margin-top:20px;

    }
    #Gallery{
        margin-top:40px;
    }
    footer{
        font-size:small;
    }

  
}