*{
    margin:0px;
    padding:0px;

}
header{
    background-color: aqua;
    padding:20px;

}
.links{
    display: flex;
    justify-content: space-evenly; 

}
.links a{
    text-decoration: none;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.Page{
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
padding:20px;

}
.About{
    align-items:center;
    flex-direction:column;
    display:flex;
}
.About p{
    padding:20px;
}
